
html {
    margin: 0;
    padding: 0;
	height: 100%
}
body {
	background:  #f4f4f4;
	font-family: 'Arimo', serif;
	font-size: 15px;
	height: 100%;
    margin: 0;
    padding: 0;
}

ol, ul {
	list-style: none;
}

a:hover , a:active{
	text-decoration:none;
}

.cursor {
	cursor:pointer;
}

.clear-fix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.hide {
	display: none;
}

.note-editor {
	border-color: #ccc !important;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.error {
	color: red;
}

.navbar-project1 {
    width: 100%;
    position: relative;
    margin-bottom: 0;
    z-index: 120;
    border: 0;
    top: 0;
    background: #fff;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.5);
    box-shadow: 0 0 5px rgba(0,0,0,.5);
	border-bottom: 2px solid #44759e;
}

#logo {

width: 165px;
    margin-top: -12px;

}

.footer {

    width: 100%;
	padding: 50px 0;
    background-color: #222;
	color: #b5b1b1;
	
	clear: both;
    position: relative;
    z-index: 10;
}

#content {
    background: #fff;
    min-height: 100%;
    box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 0 1px 5px rgba(0, 0, 0, 0.15), 0 1px 5px rgba(0, 0, 0, 0.15);
}

#khachhang {
	background: #eee;
	    text-align: center;
}
.box-title {
    padding: 50px 0 35px;
	text-align:center;
}
.box-list-industry .list-industry {
    margin-bottom: 20px;
	    width: 20%;
}


.box-list-industry .list-industry .list-customer .img-customer {
    background-color: #f7f7f7;
}

.list-customer .img-customer {
    border: 1px solid #c9c9c9;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    display: block;
    color: #111;
    height: 145px;
    overflow: hidden;
    background-color: #fff;
}

.box-list-industry .list-industry .list-customer .img-customer img {
    margin-top: 20px;
}

@media (max-width: 767px) {
    .box-list-industry .list-industry {
        width: 50% !important;
    }
}

#map {
    height: 300px !important;
    width: 100% !important;
}

#contact {
    background-color: #1ABC9C;
    color: #fff;
    padding-bottom: 20px;
}

#contactInfo {
    padding-left: 75px;
}

.w-socials-item {
    margin: 0 4px 4px 0;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.w-socials.size_big .w-socials-item-link {
    font-size: 28px;
    line-height: 60px;
    height: 60px;
    width: 60px;
}

.w-socials.size_big .w-socials-item-link i {
    font-size: 30px;
    line-height: 54px;
    color: white;
}

#social-facebook {
    border: 2px solid white;
    padding: 12px 20px;
    border-radius: 12px;
}

#social-twitter {
    border: 2px solid white;
    padding: 12px 14px;
    border-radius: 12px;
}

#social-google-plus {
    border: 2px solid white;
    padding: 12px 14px;
    border-radius: 12px;
}

#sendBtn {
    text-align: center;
    margin-top: 10px;
}

#sendBtn .btn {
    padding: 5px 41px;
    font-size: 20px;
    background: transparent;
    border: 2px solid;
    border-radius: 12px;
}

#sendBtn .btn:hover {
    color: #1ABC9C;
    text-decoration: none;
    background: white;
}