
html {
    margin: 0;
    padding: 0;
	height: 100%
}
body {
	background:  #f4f4f4;
	font-family: 'Arimo', serif;
	font-size: 15px;
	height: 100%;
    margin: 0;
    padding: 0;
}

ol, ul {
	list-style: none;
	padding:0px;
	margin: 0px;
}

a:hover , a:active{
	text-decoration:none;
}

.cursor {
	cursor:pointer;
}

.clear-fix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.hide {
	display: none;
}

.note-editor {
	border-color: #ccc !important;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.error {
	color: red;
}

.navbar-project1 {
    width: 100%;
    position: relative;
    margin-bottom: 0;
    z-index: 120;
    border: 0;
    top: 0;
    background: #fff;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.5);
    box-shadow: 0 0 5px rgba(0,0,0,.5);
	border-bottom: 2px solid #44759e;
}

#logo {

width: 165px;
    margin-top: -12px;

}

.footer {

    width: 100%;
	padding: 50px 0;
    background-color: #222;
	color: #b5b1b1;
	
	clear: both;
    position: relative;
    z-index: 10;
}

#content, #hinhanh, #khachhang, #about {
    background: #fff;
    min-height: 100%;
    box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 0 1px 5px rgba(0, 0, 0, 0.15), 0 1px 5px rgba(0, 0, 0, 0.15);
}


.box-title {
    padding: 50px 0 35px;
	text-align:center;
}
.box-list-industry .list-industry {
    margin-bottom: 20px;
	    width: 20%;
}


.box-list-industry .list-industry .list-customer .img-customer {
    background-color: #f7f7f7;
}

.list-customer .img-customer {
    border: 1px solid #c9c9c9;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    display: block;
    color: #111;
    height: 145px;
    overflow: hidden;
    background-color: #fff;
}

.box-list-industry .list-industry .list-customer .img-customer img {
    margin-top: 20px;
}

@media (max-width: 767px) {
    .box-list-industry .list-industry {
        width: 50% !important;
    }
}



#khachhang .btn {
    margin: 15px 0 50px;
}

#tuyendung .item .title {
    font-weight: bold;
    font-size: 20px;
	margin: 10px 0px;
	
}

#tuyendung .item {
  box-shadow:	0 1px 2px rgba(0,0,0,0.07);
  background: #fff;
      padding: 10px 0px;
	  margin: 0 15px 30px 15px;
	  height: 207px;
}

#tuyendung .item .img-thumbnail {
box-shadow: none;
border: none;

}

#tuyendung .item .col-md-3 {
 padding-left: 10px;
 padding-right: 5px;

}

#tuyendung .item .col-md-9 {


}


#tuyendung .item .col-md-6 {
	padding: 0px;

}

.site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 14px;
    line-height: 24px;
    color: #bbb;
}

.site-footer h6 {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 0;
    letter-spacing: 2px;
}
.site-footer a {
	color: #bbb;
}

.site-footer a:hover {
    color: #fff;
}

#tuyendung .item .info {
    border-bottom: 1px solid #ccc;
    clear: both;
    padding-bottom: 10px;
    font-style: italic;
	font-size: 14px;

}

#tuyendung .item .map,#tuyendung .item .money {
	margin-bottom: 3px;

}
.site-footer .social-icons {
    text-align: right;
}
.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px;
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d;
	    transition: all .2s linear;
		    color: #818a91;
    font-size: 16px;
    display: inline-block;
	text-align: center;
}

#tuyendung .item .description {
	margin-top: 10px;
}
#tuyendung  #readmore {
	margin-top: 5px;
	margin-bottom: 25px;
}

.site-header h2 {
    font-size: 37px;
}

.site-header h5 {
    font-size: 20px;
}



.site-header:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgba(0,24,40,.55);
}

.site-header {
	position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    z-index: 0;
    color: #fff;
	padding: 50px 0px;
	padding-top: 10px;

}

.site-header mark {
    color: rgba(92,190,254,.8);
    background-color: transparent;
    font-weight: 700;
}

.site-header .container {
 padding-left: 46px;
     padding-bottom: 25px;
}   

.header-job-search .input-keyword,
.header-job-search .input-location {
    position: relative;
    width: 40%;
}

.header-job-search .input-location, .header-job-search  .input-keyword, .header-job-search .btn-search {
    display: inline-block;
    float: left;
}
.header-job-search .input-keyword .form-control {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: 1px solid #c2cdd1;
}

.header-job-search .form-control {
    border: none;
    padding-left: 60px;
    height: 50px;
    color: #55595c;
	font-size: 15px ;
	border-radius: 0;
}

.header-job-search .btn-search, .btn-lienhe {
    width: 20%;
}

.header-job-search .btn-search .btn, .btn-lienhe .btn {
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 16px;
    text-transform: none;
    height: 50px;
    width: 100%;
	background: #337ab7;
}

.header-job-search .btn-search .btn:hover, .btn-lienhe .btn:hover {
	color: #fff;
}

.btn-primary {
    background-color: #29aafe;
    border-color: #29aafe!important;
}

.header-job-search .input-keyword:before,
.header-job-search .input-location:before {
    position: absolute;
    top: 0;
    left: 18px;
    font-family: FontAwesome;
    font-size: 27px;
    line-height: 50px;
    color: #b3c1c6;
    content: "\f002"
}

.header-job-search .input-location:before {
    content: "\f041";
}

#hinhanh .col-md-4 {
    width: 33.33333333%;
    margin: 10px 0px;
	margin-left: -3px;
}




#khachhang .cus{
	background: #f0f0f0;
    padding: 10px 0px;
    border-radius: 15px;
	min-height: 300px;

}

#khachhang .col-lg-4 {
}

#khachhang .img-ct {
	
	    border-radius: 50%;
    width: 196px;
    overflow: hidden;
    border: 3px solid #fff;
}

#khachhang {
	padding-top: 20px;
}

#khachhang .info {

	padding-top: 10px;
}
  
#khachhang .info .name .cap {
	text-transform: uppercase;
}

#khachhang .info .other {
	font-size: 12px;
}

#khachhang .doitac {
	margin-top: 30px;
}

#khachhang  .comment h3 {
	font-size: 16px;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;

}

#khachhang img {
width: 190px;
}


#khachhang .comment .des {
	font-size: 15px;
    font-style: italic;
    text-align: justify;
    color: #000000;
    min-height: 165px;
    padding-top: 10px;
    padding-right: 2px;

}



#khachhang ul li {
	margin-bottom: 15px;
}
#khachhang .vip {
	margin-bottom: 30px;
}

#khachhang  h2 {

    font-size: 30px;
    font-family: 'Cabin Condensed';
    color: #000;
    margin: 0 0 20px;
    padding: 0 0 0 20px;
}
#khachhang .descript {
	padding: 0 0 0 20px;
	font-family: 'Cabin Condensed';
    font-size: 18px;
    text-align: justify;
}

#khachhang .doitac li {
	position: relative;
	min-height: 200px;
}

#khachhang .doitac li  img {
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin: auto;
	padding: auto;
	max-width: 200px;

}
#map {
    height: 400px !important;
    width: 100% !important;
}

#contact {
    background-color: #4475a0;
    color: #e0e0e0;
    padding-bottom: 20px;
}

#contactInfo {
    padding-left: 75px;
}

.w-socials-item {
    margin: 0 4px 4px 0;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.w-socials.size_big .w-socials-item-link {
    font-size: 28px;
    line-height: 60px;
    height: 60px;
    width: 60px;
}

.w-socials.size_big .w-socials-item-link i {
    font-size: 30px;
    line-height: 54px;
    color: white;
}

#social-facebook {
    border: 2px solid white;
    padding: 12px 20px;
    border-radius: 12px;
}

#social-twitter {
    border: 2px solid white;
    padding: 12px 14px;
    border-radius: 12px;
}

#social-google-plus {
    border: 2px solid white;
    padding: 12px 10px;
    border-radius: 12px;
}

#sendBtn {
    text-align: center;
    margin-top: 10px;
}

#sendBtn .btn {
    padding: 5px 41px;
    font-size: 20px;
    background: transparent;
    border: 2px solid;
    border-radius: 12px;
}

#sendBtn .btn:hover {
    color: #4475a0;
    text-decoration: none;
    background: #e0e0e0;
}

#contact h3, #contact label{
    color: #fff;
}

#bs-example-navbar-collapse-1 a.active{
    background-color: #4475a0;
    color: #ffffff;
}



#about div {
    text-align: center;
}

#about_title div:after{
    background-color: #4475a0;
    bottom: 0;
    content: "";
    display: block;
    min-height: 1px;
    left: 50%;
    width: 80px;
    margin: auto;
    height: 3px;
}

#about_quote {
    font-size: 28px;
}

#about_quote p {
    width: 70%;
    margin: auto;
}

#about_detail {
    padding: 20px 40px;
}

#about_detail div {
    padding: 0 40px;
}

#about {

font-family: 'Cabin Condensed';
}

.detail-label-1 {
    text-align: left !important;
}
.detail-param {
    text-align: justify !important;
    font-family: 'Cabin Condensed';
	font-size: 20px;
}

.detail-label-2 {
    text-align: left !important;
    margin-top: 20px;

}

.detail-label-2 h3 {
    font-size: 30px;
	font-family: 'Cabin Condensed';
	padding: 5px 0px;
	padding-top: 40px;
}

.detail-label-1 h3{
    font-size: 36px;
	font-family: 'Cabin Condensed';
}

#about {
	padding-bottom: 150px;
	padding-top: 50px;

}

.detail-param li {
	margin: 5px 0px;
}

